.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="javascript:;") HTML
      li
        a(href="javascript:;") DIV
      li
        a(href="javascript:;") CSS
      li
        a(href="javascript:;") Javascript
      li
        a(href="javascript:;") HTJqueryML
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章